@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces_9pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MonteCarlo';
    src: url('../fonts/MonteCarlo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Regular.ttf') format('truetype');
}
